@keyframes move{
    0%{
        top:0px;
    }
    25%{
       top:-20px;
    }
    50%{
        top:0px;
    }
    100%{
        top:-20;
    }
}



@keyframes right-move{
  
    50%{
        left:10px;
        width:20px;
        height:20px;
    }
    100%{
        border-radius: 0;
        width:50%;
        height:100%;
        left:0;
        border-radius: 10px 0px 0px 10px;

    }
}


@keyframes move-left{
    50%{
        right:10px;
        width:20px;
        height:20px;
    }
    100%{
        border-radius: 0;
        width:50%;
        height:100%;
        right:0;
        border-radius: 0px 10px 10px 0px;

    }
}



@keyframes boucing{
    0%,20%,40%,60%,80%,100%{
        transform:translatey(0);
    }
    30%,50%,70%,90%{
        transform: translatey(-7px);
    }
}

